<!DOCTYPE html>
<html>
  <head>
    <title>ContactImporterKoombea</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/flash'%>
    <ul>
      <li><a href="<%= users_contacts_path %>">Contacts</a></li>
      <li><a href="<%= users_contact_logs_path %>">Contact Logs</a></li>
      <li><a href="<%= users_contact_files_path %>">Contact Files</a></li>
      <li><a href="<%= new_users_contact_file_path %>">Import Contact</a></li>
    </ul>

    <%= yield %>
  </body>
</html>
